<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.managestudent">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ManageStudent">
        <activity
            android:name=".activities.StudentMark"
            android:exported="false" />
        <activity
            android:name=".activities.RegisterSubject"
            android:exported="false" />
        <activity
            android:name=".activities.ManageMark"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".activities.ManageSubject"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".activities.ManageStudent"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".activities.ManageClass"
            android:exported="false"
            android:label="ManageClass"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="ManageStudent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
<!--        pdf setting -->
        <provider
            android:authorities="com.example.managestudent.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true"
            android:name="androidx.core.content.FileProvider">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"
                >

            </meta-data>

        </provider>





    </application>

</manifest>